// font color
$black_color: #3f3f3f;
$gray_color: #9b9b9b;
$green_color: #27cc95;
$deep_green_color: #21ad7f;
$red_color: #ff6767;
$yellow_color: #ffc900;

$gray_border_color: #eeeeee;

$font_family: 'Nunito';